@page "/admin/buy"
@inherits OwningComponentBase<ICheckoutRepository>

@*references buytable parameters*@
<BuyTable TableTitle="Unsold Books" Buy="UnsoldBooks" ButtonLabel="Purchased" CheckoutSelected="SoldBooks"></BuyTable>

<BuyTable TableTitle="Purchased Books" Buy="SoldBooks" ButtonLabel="Reset" CheckoutSelected="ResetCheckout"></BuyTable>

<button class="btn btn-info" onclick="@(x =>UpdateData())">Refresh Data</button>

@code {

    public ICheckoutRepository repo => Service;

    public IEnumerable<Checkout> AllBooks { get; set; }
    public IEnumerable<Checkout> UnsoldBooks { get; set; }
    public IEnumerable<Checkout> SoldBooks { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        AllBooks = await repo.checkouts.ToListAsync();
        UnsoldBooks = AllBooks.Where(x => !x.PurchaseReceived);
        SoldBooks = AllBooks.Where(x => x.PurchaseReceived);
    }

    public void SoldBooks(int id) => UpdateCheckout(id, true);
    public void ResetCheckout(int id) => UpdateCheckout(id, false);
    private void UpdateCheckout (int id, bool purchased)
    {
        Checkout c = repo.checkouts.FirstOrDefault(x => x.CheckoutId == id);
        c.PurchaseReceived = purchased;
        repo.SaveCheckout(c);
    }
}

