@page "/admin/buy"
@inherits OwningComponentBase<ICheckoutRepository>

@*references buytable parameters*@
<BuyTable TableTitle="Unsold Books" Checkouts="UnsoldBooks" ButtonLabel="Purchased" CheckoutSelected="ShipBooks"></BuyTable>

<BuyTable TableTitle="Purchased Books" Checkouts="SoldBooks" ButtonLabel="Reset" CheckoutSelected="UpdateShipping"></BuyTable>

<button class="btn btn-info" @onclick="@(x => UpdateData())">Refresh Data</button>

@code {

    public ICheckoutRepository repo => Service;

    public IEnumerable<Checkout> AllBooks { get; set; }
    public IEnumerable<Checkout> UnsoldBooks { get; set; }
    public IEnumerable<Checkout> SoldBooks { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        AllBooks = await repo.Checkouts.ToListAsync();
        UnsoldBooks = AllBooks.Where(x => !x.PurchaseReceived);
        SoldBooks = AllBooks.Where(x => x.PurchaseReceived);
    }

    public void ShipBooks(int id) => SyncShipping(id, true);
    public void UpdateShipping(int id) => SyncShipping(id, false);
    private void SyncShipping(int id, bool purchased)
    {
        Checkout c = repo.Checkouts.FirstOrDefault(x => x.CheckoutId == id);
        c.PurchaseReceived = purchased;
        repo.SaveCheckout(c);
    }
}

